@import url('https://fonts.googleapis.com/css2?family=Abel&family=Yatra+One&display=swap');

:root { 
    --fonte-principal: 'Abel';
    --fonte-secundaria: 'Yatra One'; 
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: var(--fonte-principal), cursive;
 }
 
 h1 {
     font-family: var(--fonte-secundaria), cursive;
 }
